

 <% @places.each do |place| %>

 <% if user_signed_in? && current_user.id == place.user.id %>

<%= link_to '編集', "/places/#{place.id}/edit", method: :get %>
<%= link_to '削除', "/places/#{place.id}", method: :delete %>

<% end %>

 <h2><%= simple_format(place.name) %></h2>
 <img src= "<%= place.image %>" class="sawai"><br>
 <h3><a href ="<%= place.url%>">地図</a></h3>

 <% if place.wifi == true %>
 <p>Wifiあり</p>
 <% else %>
 <p>Wifiなし</p>
 <%end%>

 <% if place.outlet == true %>
 <p>電源あり</p>
 <% else %>
 <p>電源なし</p>

 <%end%>

<a href ="">
 <span>投稿者</span><%= place.user.nickname %>
  </a>

 <p>--------------------------------------------------------------------</p>

<% end %>
<%= paginate(@places) %>
 