<!DOCTYPE html>
<html>
<head>
  <title>Studyspot2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "container">
  <div class="ken"><a href ="/"><%= image_tag 'logo.png' %></a></div>

<% if user_signed_in? %>

<div class="alert alert-success" role="alert"><%= current_user.nickname %>さんでログイン中</div>

<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><a href ="/users/<%= current_user.id %>">マイページ</a></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"> <%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><a href="/places/new">投稿する</a></button>
  </div>
</div>



 
  

  <% else %>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><%= link_to "ログイン", new_user_session_path, class: 'post' %></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"> <%= link_to "新規登録", new_user_registration_path, class: :'post' %></button>
  </div>
</div>

  
 

<% end %>


<%= yield %>

  </div>
</body>
</html>
